@* @model BookMySpace.Models.AddUpdateRoleDTO *@
@* *@
@* <h2>Create Role</h2> *@
@* *@
@* @if (ViewBag.Error != null) *@
@* { *@
@*     <p style="color:red">@ViewBag.Error</p> *@
@* } *@
@* *@
@* <form method="post"> *@
@*     <label>Role Name:</label><br /> *@
@*     <input type="text" name="RoleName" value="@Model?.RoleName" /> *@
@*     <br /><br /> *@
@* *@
@*     <button type="submit">Save</button> *@
@*     <a href="/RolesUi/Index">Cancel</a> *@
@* </form> *@