@* @model List<BookMySpace.Models.Role> *@
@* *@
@* <h2>Roles</h2> *@
@* *@
@* <table border="1" cellpadding="8" cellspacing="0"> *@
@*     <thead> *@
@*     <tr> *@
@*         <th>RoleId</th> *@
@*         <th>RoleName</th> *@
@*     </tr> *@
@*     </thead> *@
@*     <tbody> *@
@*     @foreach (var r in Model) *@
@*     { *@
@*         <tr> *@
@*             <td>@r.RoleId</td> *@
@*             <td>@r.RoleName</td> *@
@*         </tr> *@
@*     } *@
@*     </tbody> *@
@* </table> *@

@model List<BookMySpace.Models.Role>

<h2>Roles List</h2>

<p>
    <a href="/RolesUi/Create">➕ Add New Role</a>
</p>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
    <tr>
        <th>RoleId</th>
        <th>RoleName</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var r in Model)
    {
        <tr>
            <td>@r.RoleId</td>
            <td>@r.RoleName</td>
            <td>
                <a href="/RolesUi/Details/@r.RoleId">Details</a> |
                <a href="/RolesUi/Edit/@r.RoleId">Edit</a> |
                <a href="/RolesUi/Delete/@r.RoleId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>